body {
    margin: 0;
    padding: 0;
}
main {
    padding: 16px;
}
footer {
    padding: 24px 0;
}
img {
    height: 200px;
}
nav {
    border-bottom: 1px solid black;
    padding: 16px;
}

.my-grid{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
}

a {
    text-decoration:none;
}

main h1{
    color: rgb(40, 79, 40);
}

main div div h3 a {
    color: rgb(110, 147, 83);
}
main div div h3 a:visited {
    color: rgb(110, 147, 83);
}

.main-background{
    background-color: rgb(235, 85, 9);
}

.main-color{
    color:aliceblue;
    text-decoration: none;
    font-weight: bold;
}

.footer-background{
    background-color:rgb(139, 182, 52);
}

tr:nth-child(even) {
    background-color: rgb(213, 211, 211);
}
